* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
  font-family: "Calibri", sans-serif;
}

body {
  height: 100vh;
  background-color: cornflowerblue;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

div {
  text-align: center;
}

h1 {
  position: absolute;
  top: 20%;
}

button {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 3px solid tomato;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px 5px;
  border-radius: 7px;
}

button:after {
  content: "";
  background-color: gold;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 6px;
  left: 7px;
  transition: 0.2s;
  border-radius: 3px;
}

button:hover:after {
  top: 0px;
  left: 0px;
}

.button-alt {
  border: 3px solid cornflowerblue;
}

.button-alt.active {
  border: 3px solid transparent;
}

.active::after {
  top: 0px;
  left: 0px;
  background-color: tomato;
}

.button-1 {
  width: 400px;
  height: 200px;
  margin-top: 25vh;
  font-size: x-large;
  border: 0px;
}

.button-1:after {
  top: 0px;
  left: 0px;
}

.button-1:hover:after {
  background-color: rgba(255, 217, 0, 0.5);
}

.absolute {
  position: absolute;
  transition: none;
}
